Q1. How do you load a CSV file into a Pandas DataFrame?

ans: Using read_csv function takes a path to a csv file and reads the data into Pandas dataframe object. 

import pandas as pd

df=pd.read_csv("file_name.csv")

Q2. How do you check the data type of a column in a Pandas DataFrame?

ans: Using Dataframe.dtypes attribute to get datatypes of all columns of a dataframe.

Q3. How do you select rows from a Pandas DataFrame based on a condition?

ans:Selecting rows based on particular column value using '>', '=', '<', '<=', '!=' operator.

example:

# importing pandas
import pandas as pd
  
record = {
  'Name': ['Ankit', 'Sangeeths', 'Ashvik', 'vihaan', 'Ranjitha', 'Shaurya' ],
  'Age': [21, 19, 20, 18, 17, 21],
  'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
  'Percentage': [88, 92, 95, 70, 65, 78]}
  
# create a dataframe
dataframe = pd.DataFrame(record, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", dataframe) 
  
# selecting rows based on condition
rslt_df = dataframe.loc[dataframe['Percentage'] > 80]
  
print('\nResult dataframe :\n', rslt_df)

Q4. How do you rename columns in a Pandas DataFrame?

ans:  Using rename function .

example:

# Import pandas package
import pandas as pd

# Define a dictionary containing rank
rank={'test':['India','England'],'t20':['England','India']}

# Convert the dictionary into DataFrame
rank_pd = pd.DataFrame(rank)
  
# Before renaming the columns
print(rank_pd)
  
rank_pd.rename(columns = {'test':'TEST'}, inplace = True)

print("after modifing column name",rank_pd)

Q5. How do you drop columns in a Pandas DataFrame?

ans: Using drop method. It removes the specified row or column.

By specifying the column axis (axis='columns'), the drop() method removes the specified column.

By specifying the row axis (axis='index'), the drop() method removes the specified row.

example:

newdf = rank_pd.drop("t20", axis='columns')

Q6. How do you find the unique values in a column of a Pandas DataFrame?

ans:To get unique values from a column in a DataFrame, use the unique().
example:Get the unique values of ‘C’ column
# Import pandas package
import pandas as pd

# create a dictionary with five fields each
data = {
	'A':['A1', 'A2', 'A3', 'A4', 'A5'],
	'B':['B1', 'B2', 'B3', 'B4', 'B4'],
	'C':['C1', 'C2', 'C3', 'C3', 'C3'],
	'D':['D1', 'D2', 'D2', 'D2', 'D2'],
	'E':['E1', 'E1', 'E1', 'E1', 'E1'] }

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Get the unique values of 'B' column
df.C.unique()

Q7. How do you find the number of missing values in each column of a Pandas DataFrame?

ans: We can use pandas isna() function find if each element of the dataframe is missing value or not. 
When applied to a dataframe, Pandas isna() function return boolean dataframe with True with the element is missing value and False when it is not a missing value.
We can use Pandas sum() function to get the counts of missing values per each column in the dataframe.
example: df.isna().sum()

Q8. How do you fill missing values in a Pandas DataFrame with a specific value?

ans:using fillna() function to fill missing values in a Pandas DataFrame with a specific value.
example:

# importing pandas as pd
import pandas as pd
  
# importing numpy as np
import numpy as np
  
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
  
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
  
# filling missing value using fillna()  
df.fillna(0)

Q9. How do you concatenate two Pandas DataFrames?

ans:A Concatination of two Pandas Dataframes can be done by using pandas.concat() method.
It works by Combining Dataframes across rows(axis=0) or columns(axis=1).

example:

import pandas as pd
import numpy as np
 
df1 = pd.DataFrame(np.random.randint(25, size=(2, 2)),
                   index=["1", "2"],
                   columns=["A", "B"])
 
df2 = pd.DataFrame(np.random.randint(25, size=(3, 2)),
                   index=["5", "6", "7"],
                   columns=[ "B", "C"])

# concatenating df1 and df2 along rows
vert_concat = pd.concat([df1, df2], axis=0)
 
# concatenating df3 and df4 along columns
hor_concat = pd.concat([df1, df2], axis=1)
 
display(vert_concat,hor_concat)

Q10. How do you merge two Pandas DataFrames on a specific column?

ans:  Merge two Pandas DataFrames on a specific column using Merge() function.
example: 
    
import pandas as pd   

# Create first pandas DataFrame
df1 = pd.DataFrame({"col":range(11, 17),    
                      "x1":range(12, 1, - 2),
                      "x2":["a", "b", "c", "d", "e", "f"],
                      "x3":range(17, 11, - 1)})
# Print first pandas DataFrame                     
print(df1)      

# Create second pandas DataFrame
df2 = pd.DataFrame({"col":range(15, 19),    
                      "y1":["l", "k", "j", "h"],
                      "y2":["x", "y", "y", "y"],
                      "y3":range(18, 10, - 2)})
# Print second pandas DataFrame                      
print(df2)    

# Inner join
data_join = pd.merge(df1,df2,on = "col")
print(data_join)

Q11. How do you group data in a Pandas DataFrame by a specific column and apply an aggregation function?

ans: To do grouping use DataFrame.groupby() function. 
This function returns the DataFrameGroupBy object and use aggregate() function to calculate the sum.
    
# Syntax of DataFrame.aggregate() 
DataFrame.aggregate(func=None, axis=0, *args, **kwargs)

# Syntax of DataFrameGroupBy.aggregate() 
DataFrameGroupBy.aggregate(func=None, *args, engine=None, engine_kwargs=None, **kwargs)

Q12. How do you pivot a Pandas DataFrame?

ans: The pivot() function is used to reshaped a given DataFrame organized by given index / column values. This function does not support data aggregation, multiple values will result in a MultiIndex in the columns.

Syntax: DataFrame.pivot(self, index=None, columns=None, values=None)

Q13. How do you change the data type of a column in a Pandas DataFrame?

ans: In Pandas DataFrame or any table-like data structures we are often required to chang the data type(dtype) of a column also called type casting, for example, convert from int to string, string to int e.t.c, In pandas, you can do this by using several methods like astype(), to_numeric(), covert_dttypes(), infer_objects() and e.t.c.

Q14. How do you sort a Pandas DataFrame by a specific column?

ans: You can sort by column values in pandas DataFrame using sort_values() method. 
To specify the order, you have to use ascending boolean property; False for descending and True for ascending. 
By default, it is set to True

Syntax: DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)

Q15. How do you create a copy of a Pandas DataFrame?

ans: The copy() method returns a copy of the DataFrame.

By default, the copy is a "deep copy" meaning that any changes made in the original DataFrame will NOT be reflected in the copy.

syntax:

dataframe.copy(deep)

Q16. How do you filter rows of a Pandas DataFrame by multiple conditions?

ans:  filtration of data is required can be performed based on various conditions.

1. loc works with column labels and indexes.
2. eval and query works only with columns.
3. Boolean indexing works with values in a column only.

# Example 1: Use DataFrame.loc[] to filter by multiple conditions
df2 = df.loc[(df['Fee']>=24000) & 
             (df['Discount']< 2000) & 
             (df['Courses'].str.startswith('P')),
                    ['Courses','Duration']]

# Example 2: Use DataFrame.query() to filter by multiple conditions
df2 = df.query('Fee  >= 22000 & 
                Discount < 3000 & 
                Courses.str.startswith("H").values')

Q17. How do you calculate the mean of a column in a Pandas DataFrame?

ans: To calculate the mean of a whole columns in a DataFrame using df.mean() or df.mean(axis=0) average of each column.

Q18. How do you calculate the standard deviation of a column in a Pandas DataFrame?

ans: By using DataFrame.std() function to calculate the standard deviation of a column in pandas dataframe.

Method 1: Calculate standard deviation of single column
df['column_name'].std()
Method 2: Calculate standard deviation of multiple columns
df[['column_name1','column_name2']].std()

Method 3:Calculate standard deviation of all numeric columns
df.std()

Q19. How do you calculate the correlation between two columns in a Pandas DataFrame?

ans: By using corr() function we can get the correlation between two columns in the dataframe.
syntax:  dataframe['first_column'].corr(dataframe['second_column'])

Q20. How do you select specific columns in a DataFrame using their labels?

ans:  We can select specifice columns in a dataframe by using df.loc[]

Method 1:  Select one column by name
df.loc[:,'column1']
Method 2: Select multiple columns by name
df.loc[:,['column1','column3','column4']]
Method 3: Select columns in Range by name
df.loc[:,'column2':'column4']

Q21. How do you select specific rows in a DataFrame using their indexes?

ans: We can select specifice rows in a single dataframe by integer index using df.iloc[n]

Q22. How do you sort a DataFrame by a specific column?

ans: Using sort_values() method sorts a data frame in Ascending or Descending order of passed Column.

Syntax: DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)

Q23. How do you create a new column in a DataFrame based on the values of another column?

ans:we can add/append a new column to the DataFrame based on the values of another column using df. assign() , df. apply() , and, np. where() functions and return a new Dataframe after adding a new column.

Q24. How do you remove duplicates from a DataFrame?

ans:Pandas drop_duplicates() method helps in removing duplicates from the pandas dataframe in python.
Syntax: DataFrame.drop_duplicates(subset=None, keep=’first’, inplace=False)

Q25. What is the difference between .loc and .iloc in Pandas?

ans: The difference between the two functions:
1) .loc selects rows and columns with specific labels :
A Value: A single label or integer example:loc[A] or loc[1],
A list: A list of labels ex: loc[[A,B]],
A Slicing: ex:loc[A:B],A and B are included,
Conditions: A bool Series or list,
Callable function: loc[lambda x:x[2]]

2) .iloc selects rows and columns at specific integer positions
A Value: A single integer example:iloc[1],
A list: A list of integers ex: loc[[1,2,3]],
A Slicing: ex:iloc[n:m],n is included and m is excluded,
Conditions: A bool list,
Callable function: loc[lambda x:x[2]]